*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #ffffff;
	--text-color: #111111;
	--main-color: #c8815f;
	--big-font: 4.5rem;
	--h2-font: 3.3rem;
	--h3-font: 2rem;
	--normal-font: 1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
	line-height: 3rem;

}
header{
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 20px 14%;
	transition: all .35s ease;
}
.logo-text{
	position: relative;
	font-size: 28px;
	font-weight: 700;
	font-family: cursive;
	color:  black;
	letter-spacing: 1px;
	margin-left: 6rem;
	margin-right: auto;
	
}
.logo-img{
	position: absolute;
	width: 80px;
	height: 80px;
	margin-top: -px;
	margin-right: 100px;
}
.navlist{
	display: flex;
}
.navlist a{
	color: var(--text-color);
	font-weight: 600;
	padding: 10px 25px;
	font-size: var(--normal-font);
	transition: all .36s ease;
}
.navlist a:hover{
	color: var(--main-color);
}
.header-icons i{
	font-size: 32px;
	color: var(--text-color);
	
	transition: all .36s ease;
}
.header-icons i:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 34px;
	color: var(--text-color);
	z-index: 10001;
	margin-right: 20px;
	display: none;
}

section{
	padding: 100px 14%;
}
.home{
	min-height: 100vh;
	width: 100%;
	background: url(../img/BGG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
	
}
.home-text h1{
	font-family: Courier New;
	font-size: var(--big-font);
	font-weight: 800;
	line-height: 1.2;
	bottom: -100px;
	letter-spacing: .6rem;
	margin-bottom: .4rem;
}
.home-text span{
	font-size: var(--h2-font);
}
.home-text p{
	font-family: cursive;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 3rem;
	letter-spacing: .2rem;
}
.about-me{
	background-color: red;
	display: inline-block;
	padding: 13px 25px;
	background: var(--main-color);
	color: var(--bg-color);
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 600;
	border-radius: 5px;
	transition: all .35s ease;
	margin-bottom: 5rem;
}
.about-me:hover{
	transform: translateY(-5px);
	background: var(--text-color);
}

header.sticky{
	background: var(--bg-color);
	padding: 14px 14%;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.center-text{
	text-align: center;


}
.center-text h2{
	position: relative;
	font-size: var(--h3-font);
	margin-top: 10px;
	margin-bottom: 2.5rem;



}.about-company{
	width: 100%;
	padding: 100px 0px;
	overflow: hidden;
	margin-bottom: 10rem;

}
.about-company img{
	width: 30%;
	float: left;
}
.company-logo img{
	width: 420px;
	height: auto;
}
.contents{
	width: 550px;
	height: auto;
}
.main-main{
	width: 1150px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 15rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.contents h1{
	text-align: center;
	font-family:cursive;
	font-size: 50px;
	text-transform: capitalize;
	letter-spacing: 3.5px;
	margin-bottom: 20px;
	margin-top: 10%;
	letter-spacing: 10px;

}
.contents h2{
	text-align: center;
	position: relative;
	top: 10px;
	font-family:cursive;
	font-size: 50px;
	text-transform: capitalize;
	letter-spacing: 3.5px;
	margin-bottom: 30px;
	letter-spacing: 10px;


}
.contents p{
	letter-spacing: 1px;
	font-size: 18px;
	font-family: serif;
	margin-bottom: 45px;
	line-height: 28px;
	text-align: justify;
	font-weight: 500;
}
.about-company button{
	color: var(--bg-color);
	background: var(--main-color);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding:  13px 30px;
	border-radius: 30px;
	transition: .4s;
}
.about-company button:hover{
 	background: var(--text-color);
 	border: 2px solid;
 	cursor: pointer;
}
@media screen and (max-width: 765px){
	.about-company{
		width: 100%;
		float: none;
}
}
.featured-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	gap: 1.3rem;
	align-items: center;
	
}
.products-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
	gap: 1.5rem;
	margin-top: 2rem;
}
.products-container .box{
	position: relative;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
}

.products-container img{
	width: 100%;
	height: 250px;
	object-fit: contain;
	object-position: center;
	padding: 20px;
	background: #f1f1f1;
	border-radius: 0.5rem;
}
.products-container .box h3{
	font-size: 1rem;
	font-weight: 600;
	text-transform: :uppercase;
	margin: 0.5rem 0 0.5rem;
}
.products-container .box .content-box{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.products-container .box .content-box span{
	padding: 0 1rem;
	color: var(--bg-color);
	background: var(--main-color);
	border-radius: 4px;
	font-weight: 500;
}
.products-container .box .content-box a{
	padding: 0 1rem;
	color: var(--text-color);
	border: 2px solid var(--main-color);
	border-radius: 4px;
	text-transform: uppercase;
}
.products-container .box .content-box a:hover{
	background: var(--main-color);
	color: var(--bg-color);
	transition: 0.2s all linear;
}
#about {
	background: #FFFFFF;
	padding-top: 5rem;
	
}
#about .section-intro {
	margin-bottom: 3rem;
	
}
.info p{
	position: relative;
	font-family: cursive;
}

.intro-info img {
	height: 9rem;
	width: 9rem;
	border-radius: 50%;
	margin: .9rem 0 0 0;
	float: left;
}
.intro-info .lead {
	text-align: left;
	padding-left: 13rem;
}
.lead{
	display: block;
    font-family: monospace;
    font-size: 1.3rem;
    line-height: 2;
    text-align: justify;
    margin-bottom: 5rem;
}
#about .about-content{
	position: relative;
	margin-top: auto;

}
.about-content {
	max-width: 850px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top:100;
	position: relative;
	
}
.about-content h3 {
	font-family: cursive;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}
.about-content .info-list {
	list-style: none;
	margin-left: 0;
}
.about-content .info-list li {
	margin-bottom: 1.6rem;
}
.about-content .info-list li strong {
	font-family: sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1 rem;
	line-height: 3rem;

}
.about-content .info-list li span {
	display: block;
	font-family: monospace;
	font-size: 1.5rem;
	line-height: 1;
	text-align: center;

}

@media only screen and (max-width:1024px) {
	.intro-info {
		margin-right: 0;
		margin-left: 0;
	}
}
@media only screen and (max-width:768px) {
	.intro-info img {
		height: 7.8rem;
		width: 7.8rem;
	}
	.intro-info .lead {
		padding-left: 11rem;
	}
	.about-content h3 {
		text-align: center;
	}
	.about-content .info-list, .about-content .skill-bars {
		margin-bottom: 4.2rem;
	}
}
@media only screen and (max-width:600px) {
	.intro-info {
		text-align: center;
		margin-top: 3rem;
	}
	.intro-info img {
		height: 6.6rem;
		width: 6.6rem;
		float: none;
		display: inline-block;
	}
	.intro-info .lead {
		padding-left: 0;
		text-align: center;
	}
}

.section-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;

}
.section-intro h1 {
	font-family: "poppins-semibold", serif;
	font-size: 3.5rem;
	color: #313131;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}
.section-intro h5 {
	color: #FF0077;
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: .4rem;
}
.col-twelve h1{
	padding: 0;
	
}
.col-six{
	width: 50%;
}
.col-twelve,
.col-full {
	width: 100%;
}
.col-six p{
	display: block;
    font-family: monospace;
    font-size: 1.5rem;
    line-height: 2;
   
}
[class*="col-"] {
    padding: 0 20px;
    position: relative;
    margin-bottom: 1.2rem;
    
}
[class*="col-"], .bgrid {
    float: left;
}
.new-content button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
 
}

.new-content button{
    background: black;
}
.new-content button:hover{
    background: var(--carribean-green);
    color: green;
}
@media only screen and (max-width:1024px) {
	.intro-info {
		margin-right: 0;
		margin-left: 0;
	}
}
@media only screen and (max-width:768px) {
	.intro-info img {
		height: 7.8rem;
		width: 7.8rem;
	}
	.intro-info .lead {
		padding-left: 11rem;
	}

.about-content {
	position: absolute;
	text-align: left;
	max-width: 850px;

}
	.about-content h3 {
		text-align: center;
	}
	.about-content .info-list, .about-content  {
		margin-bottom: 4.2rem;
	}
}
@media only screen and (max-width:600px) {
	.intro-info {
		text-align: center;
		margin-top: 3rem;
	}
	.intro-info img {
		height: 6.6rem;
		width: 6.6rem;
		float: none;
		display: inline-block;
	}
	.intro-info .lead {
		padding-left: 0;
		text-align: center;
	}
}
.contact{
	position: relative;
	margin-top: 70rem;
	background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-align: left;
    font: bold 16px sans-serif;
	background: #626262;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	font-family: 'roboto', sans-serif;
}
.main-contact img{
	position: relative;
	left: 2.5rem;
	width: 10rem;
	height: auto;

}
.main-contact h3{
	margin-left: 5rem;
	font-size: 23px;
	margin-bottom: 1.6rem;
	color: #ffffff;
	font-family: cursive;
}
.main-contact2 h3{
	margin-left: 5rem;
	font-size: 23px;
	margin-bottom: 1.6rem;
	color: #ffffff;
	font-family: cursive;
}
.main-contact2 p{
	margin-left: 5rem;
	text-align: justify;

}
.main-contact h5{
	font-size: 23px;
	margin-bottom: 1.6rem;
	color: #ffffff;
	font-family: cursive;
}
.social-meds h5{
	font-size: 23px;
	font-family: cursive;
	margin-bottom: 1.6rem;
	color: #ffffff;
	
}
.icons{
	display: flex;
	margin-top: 2rem;
}
.icons i{
	position: relative;
	left: 2.5rem;
	font-size: 40px;
	margin-right: 1rem;
	color: #c4c4c4;
	transition: all .35s ease;
}
.icons i:hover{
	color: var(--bg-color);
	transform: scale(1.1) translateY(-5px);
}
.icons2 i{
	font-size: 25px;
}
.main-contact li{
	margin-bottom: 15px;
}
.main-contact li a{
	margin-left: 5rem;
	display: block;
	color: #c4c4c4;
	font-size: var(--normal-font);
	 font-weight: 300;
	 font-family:  'roboto', sans-serif;
	transition: all .35s ease;
}
.main-contact li a:hover{
	transform: translateX(-8px);
	color: #ffffff;
}
@media (max-width: 1000px){
	header{
		padding: 7px 4%;
		transition: .2s;
	}
	header.sticky{
		padding: 14px 4%;
		transition: .2s;
	}
	section{
		padding: 80px 4%;
		transition: .1s;
	}
}

@media (max-width: 670px){
	#menu-icon{
		display: block;
		cursor: pointer;
	}
	.header-icons{
		display: inline-flex;
	}
	.navlist{
		position: absolute;
		top: 100%;
		left: -100%;
		width: 280px;
		height: 120vh;
		background: var(--bg-color);
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 150px 30px;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 1.2rem 0;
	}
	.navlist.open{
		left: 0;
	}
}
